/*
windows 98 color scheme:
col-black: #000000
col-dark-grey: #818181
col-grey: # #c3c3c3
col-white: #fdffff
col-blue: #010081
col-teal: #008080
col-pink: #ff0081
*/
body {
  font-family: 'w98';
  background: #008080;
}

@font-face {
  font-family: 'w98';
  src: url(./metadata/font/w95fa.woff2) format('woff2');
}

/*
Cursor Set for Windows98
*/

body {
  cursor: url('./metadata/cursor/SmoothArrow.cur'), default;
}

button {
  cursor: url('./metadata/cursor/SmoothHand.cur'), pointer !important;
}

/* Set a custom cursor for all hoverable elements */
a:hover,
input:hover,
select:hover,
textarea:hover,
[class]:hover { /* This will target any class on hover, use with caution */
  cursor: url('./metadata/cursor/SmoothHand.cur'), pointer !important;
}

/*
Mouse Drag Selection Box 
*/
#selection-box {
  position: absolute;
  border: 1px dotted #000000; /* Dotted border like Windows 98 */
  visibility: hidden; /* Starts off hidden */
  pointer-events: none;
  z-index: 99;
}

/*
Desktop Recreation
*/
#desktop {
  display: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 24px);
  padding: 2px;
}

#icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2px;
}

#icons-line1,
#icons-line2 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fdffff;
  cursor: pointer;
}

.desktop-icon img {
  width: 32px;
  height: auto;
}

.desktop-icon span {
  font-size: 12px;
  word-wrap: break-word;
  margin: 4px;
}

/*
Taskbar Recreation
*/
#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background: #c3c3c3;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  z-index: 100;
  border-top: 1px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: inset 1px 1px 0px #808080,
              inset -1px -1px 0px #808080,
              0 1px 0px #808080,
              1px 0 0px #808080;
}

#start-button {
  font-family: 'w98';
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  margin-left: 1px;
  cursor: pointer;
}
#start-button img {
  width: 20px;
  height: auto;
  margin-right: 4px;
}

#clock {
  font-size: 14px;
  font-family: 'w98';
  padding: 4px 8px;
  text-align: center;
  justify-content: center;
  margin-right: 1px;
  color: #000000;
}

/*
Internet Explorer Window
*/

#ie-window {
  position: fixed;
  z-index: 10;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #c3c3c3;
  padding: 3px;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 0px #fff,
              inset -1px -1px 0px #fff,
              0 2px 0px #000,
              2px 0 0px #000; 
  }

#ie-header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #010081, #0289cc);
  color: #fdffff;
  font-family: 'w98';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  height: 20px;
  padding: 0 2px;
}

#ie-mini-icon {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

#ie-controls {
  display: flex;
  margin-left: auto;
}
#ie-minimize,
#ie-maximize {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6ce;
  width: 16px;
  height: 14px;
  cursor: pointer;
  margin-right: 2px;
}
#ie-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6ce;
  width: 16px;
  height: 14px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

#ie-content-wrapper {
  width: 99.8%;
  height: calc(100% - 50px);
  overflow: hidden;
}
#ie-content{
  width: 100%; 
  height: 100%;
  border: none;
}
